:root {
  /* colour palette */
  --white: #ffffff;
  --deep-orange-300: #ff9c7d;
  --amber-50: #fff8e4;
  --blue-100: #c9e8f2;
  --brown-100: #dabc98;
  --beige: #fff8e4;
  --blue-gray-50: #eeeeee;
  --black: #000000;
  /* container sizes */
  --container-width: 1271px;
  --container-space: 15px;
  --container-main-width: 1440px;

  --fs-sm: 15px;
  --fs-smb: 18px;
  --fs-norm: 20px;
  --fs-md: 25px;
  --fs-mdb: 30px;
  --fs-slg: 35px;
  --fs-blg: 40px;
  --fs-lg: 50px;
  --fs-xlg: 65px;
}
body {
  font-family: "Graphik LCG", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}
a:hover {
  font-size: calc(var(--fs-sm) * 1.2);
  color: var(--deep-orange-300);
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: calc(var(--container-width) + var(--container-space) * 2);
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--white);
}
.header-menu {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}
.menu__right {
  display: flex;
  gap: 50px;
}

.header-navbar {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-border {
  border: 1px solid #c5c5c5;
  margin-bottom: 100px;
}
.header-navbar__item {
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 20px;
  display: inline;
  color: var(--black);
  border-bottom-width: 3px;
}
.btn {
  min-width: 118px;
  min-height: 45px;
  font-weight: 600;
  font-size: var(--fs-sm);
  line-height: 45px;
  cursor: pointer;
}
.btn--light {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #00000080;
}
.btn--accent {
  background-color: #ff6336;
  color: #ffffff;
  border: 1px solid var(--deep-orange-300);
}
@media (max-width: 992px) {
  .header-menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header-navbar {
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .menu__right {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__content {
  max-width: 610px;
}
.content--caption {
  font-weight: 600;
  font-size: var(--fs-xlg);
  line-height: 70px;
  color: var(--black);
  margin-bottom: 50px;
  max-width: 560px;
}
.content--title {
  font-weight: 400;
  font-size: var(--fs-md);
  line-height: 35px;
  color: var(--black);
  margin-bottom: 35px;
  max-width: 472px;
}
.content--actions {
  margin-bottom: 25px;
}
.content--description {
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 25px;
  color: var(--black);
}
@media (max-width: 992px) {
  .main-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content--caption {
    font-weight: 600;
    font-size: var(--fs-lg);
  }
  .content--title {
    font-weight: 400;
    font-size: var(--fs-md);
    line-height: 35px;
    color: var(--black);
    margin-bottom: 35px;
    max-width: 472px;
  }
}
@media (max-width: 576px) {
  .main-block {
    flex-direction: column;
  }
}
.main-block {
  display: flex;
  align-items: center;
  margin-bottom: 145px;
}
.section-background {
  background-color: var(--deep-orange-300);
  min-height: 455px;
  margin-bottom: 90px;
}
.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands__title {
  text-align: center;
  margin-top: 98px;
  font-weight: 600;
  font-size: var(--fs-lg);
  line-height: 60px;
  color: var(--black);
  margin-bottom: 70px;
}
.brands__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 102px;
}
@media (max-width: 992px) {
  .brands__title {
    font-weight: 600;
    font-size: var(--fs-blg);
    line-height: 60px;
  }
  .brands__list {
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .brands__title {
    font-size: var(--fs-slg);
  }
  .brands__list {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.article {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.article-padding {
  padding-bottom: 250px;
}
.title--heading {
  min-width: 485px;
  font-weight: 600;
  font-size: var(--fs-lg);
  line-height: 60px;
  color: var(--black);
  margin-bottom: 30px;
}
.title--txt {
  max-width: 484px;
  font-weight: 400;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
  margin-bottom: 30px;
}
.title--link {
  font-weight: 600;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
}
@media (max-width: 992px) {
  .article__title {
    margin: auto;
  }
  .article {
    flex-wrap: wrap;
  }
  .description__img {
    margin: auto;
  }
}

@media (max-width: 576px) {
  .title--heading {
    font-size: var(--fs-slg);
  }
}
.article-secondary__title {
  order: 1;
}
@media (max-width: 992px) {
  .article-secondary__title {
    margin: auto;
    order: 0;
  }
  .description__img {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .title--heading {
    font-size: var(--fs-slg);
  }
}
.article-third__title {
  order: 0;
}
@media (max-width: 992px) {
  .article-third__title {
    margin: auto;
  }
  .description__img {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .article-third__title {
    font-size: var(--fs-slg);
  }
}
.article-forth__title {
  order: 1;
}
@media (max-width: 992px) {
  .article-forth__title {
    margin: auto;
    order: 0;
  }
  .description__img {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .article-forth__title {
    font-size: var(--fs-slg);
  }
}
.section-secondary {
  background-color: var(--beige);
}

.list-title {
  font-weight: 600;
  font-size: var(--fs-lg);
  line-height: 60px;
  color: var(--black);
  text-align: center;
  padding: 150px 0 55px;
}
.list-cards {
  display: flex;
  gap: 57px;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  padding-bottom: 150px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  gap: 21px;
  text-align: center;
}
.card__logo {
  height: 120px;
}
.card__title {
  font-weight: 600;
  font-size: var(--fs-md);
  line-height: 35px;
  color: var(--black);
}
.card_link {
  cursor: pointer;
  text-decoration: underline;
}
.section-secondary {
  margin-top: 150px;
}
.secondary-card__txt {
  font-weight: 400;
  font-size: var(--fs-smb);
  line-height: 25px;
  color: var(--black);
}
.card__txt-desc {
  text-align: start;
  font-weight: 400;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
}
.card.third {
  text-align: start;
  max-width: 403px;
  align-items: start;
}
@media (max-width: 992px) {
  .list-cards {
    justify-items: center;
  }
}
@media (max-width: 576px) {
  .list-title {
    font-size: var(--fs-slg);
  }
  .seventh__article {
    min-height: 525px;
  }
}
.section-forth {
  background-color: var(--blue-100);
  min-height: 468px;
}
.forth__article {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.forth_txt {
  max-width: 907px;
  font-weight: 400;
  font-size: var(--fs-mdb);
  line-height: 40px;
  color: var(--black);
  margin-bottom: 23px;
}
.forth_sign {
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 25px;
  color: var(--black);
  margin-bottom: 7px;
}
.forth_logo {
  width: 113px;
}
@media (max-width: 992px) {
  .forth_txt {
    font-size: var(--fs-md);
  }
}
@media (max-width: 576px) {
  .forth__article {
    flex-direction: column;
    align-items: center;
  }
  .forth_img {
    padding-top: 30px;
    width: 240px;
  }
}
.section-fifth {
  background-color: var(--brown-100);
}
.fifth__article {
  display: flex;
  flex-wrap: wrap;
  min-height: 332px;
  justify-content: space-between;
  align-items: center;
}
.fifth__article-left {
  display: flex;
  gap: 64px;
}
.fifth__article-right {
  display: flex;
  gap: 64px;
}
.fifth_title {
  max-width: 454px;
  font-weight: 600;
  font-size: var(--fs-slg);
  line-height: 50px;
  color: var(--black);
}
.fifth__article-left {
  display: flex;
  align-items: center;
  gap: 70px;
}
.fifth_border {
  border-left: 1px solid var(--black);
  height: 168px;
}
@media (max-width: 992px) {
  .fifth__article {
    justify-content: center;
  }
  .fifth--img {
    width: 177px;
  }
  .fifth_border {
    display: none;
  }
}
@media (max-width: 576px) {
  .fifth__article-left {
    flex-direction: column;
  }
  .fifth__article {
    gap: 25px;
  }
}

.sixth__article {
  margin-top: 169px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sixth__title {
  font-weight: 600;
  font-size: var(--fs-xlg);
  line-height: 75px;
  color: var(--black);
  text-align: center;
  max-width: 780px;
}
.sixth__txt {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  line-height: var(--fs-mdb);
  color: var(--black);
  max-width: 531px;
}
.btn-article {
  line-height: 60px;
  margin-top: 30px;
  min-width: 190px;
  max-height: 60px;
  margin-bottom: 165px;
}
@media (max-width: 576px) {
  .sixth__title {
    font-size: var(--fs-slg);
    font-weight: 600;
  }
}
.seventh-sixth {
  background-color: var(--deep-orange-300);
}
.seventh__article {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seventh__title {
  margin-top: 110px;
  font-weight: 600;
  font-size: var(--fs-xlg);
  line-height: 75px;
  color: var(--black);
  max-width: 770px;
  text-align: center;
}
.seventh__txt {
  margin-top: 30px;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
}
.btn-dark {
  background-color: black;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  padding: 0px 40px;
}
@media (max-width: 576px) {
  .seventh__title {
    font-weight: 600;
    font-size: var(--fs-slg);
  }
  .seventh__article {
    min-height: 500px;
  }
}

.footer {
  background-color: #eeeeee;
  padding-top: 95px;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 100px;
  border-bottom: 1px solid black;
  padding-bottom: 95px;
}
.footer__info__title {
  font-weight: 600;
  font-size: var(--fs-blg);
  line-height: 50px;
  color: var(--black);
  margin-bottom: 28px;
}
.footer__info__image {
  margin-bottom: 30px;
}
.footer__info__logo {
  margin-bottom: 11px;
}
.footer__info__txt {
  font-weight: 400;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
  max-width: 290px;
  margin-bottom: 13px;
}
.footer__info__link {
  font-weight: 600;
  font-size: var(--fs-norm);
  line-height: 30px;
  color: var(--black);
}
.footer__navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.navbar__list {
  font-weight: 600;
  font-size: var(--fs-norm);
  line-height: 25px;
  color: var(--black);
}
.navbar__lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: var(--fs-sm);
}
@media (max-width: 1260px) {
  .footer-main {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .footer__navbar {
    flex-direction: column;
  }
}
.footer__copyright {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.copyright__left {
  display: flex;
  max-width: 405px;
  gap: 15px;
}
.copyright--txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--black);
}
.copyright__right {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .footer__copyright {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
