:root {
    /* colour palette */
    --white: #ffffff;
    --deep-orange-300: #ff9c7d;
    --amber-50: #FFF8E4;
    --blue-100: #C9E8F2;
    --beige: #DABC98;
    --blue-gray-50: #EEEEEE;
    --black: #000000;
     /* container sizes */
    --container-width: 1271px;
    --container-main-width: 1440px;
  
    --fs-sm: 15px;
    --fs-norm: 20px;
    --fs-md: 25px;
    --fs-lg: 50px;
    --fs-xlg: 65px;
  }
  body {
    font-family: "Graphik LCG", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: 0;
  }
  ul {
    list-style: none;
  }
  .container {
    max-width: var(--container-width);
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper {
    max-width: var(--container-main-width);
  }
  .header-menu {
    display: flex;
    padding: 0 50px;
    min-height: 95px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c5c5c5;
  }
.menu__right {
  display: flex;
  gap: 50px;
}
.header-navbar {
display: flex;
gap: 40px;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}
  .header-navbar__item {
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 20px;
    display: inline;
    color: var(--black);
    border-bottom-width: 3px;
  }
  .btn {
    min-width: 118px;
    min-height: 45px;
    font-weight: 600;
font-size: 16px;
line-height: 45px;
color: #000000;
cursor: pointer;


  }
  .btn--light {
    background-color: #ffffff;
    color: #000000;
    
  }
  .btn--accent {
    background-color: #FF6336;
    color: #ffffff;
  }